.playlist-nav-span{
  display:none;
}
.one-playlist-object{
  display: block;
  width: 100%;
  margin-top: 25px;
}
.playlist-title{
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 64px;
  border: 1px solid gray;
  box-shadow: 0 2px 2px 0; 
}
.list-title-playlist-nav{
  margin-top: 15px;
}
.container-for-songs-in-playlist{
  display: flex;
}
.display{
  display: block;
}
.delete-playlist-btn{
  color: rgb(201, 1, 1);
  cursor: pointer;
}
.playlist-title input{
  height: 20%;
} 
.container-for-songs-in-playlist{
  flex-wrap: wrap;
}
